<h1>About Our Community</h1>
<p>
  You don't have to be interested in coding to join us, we often have rounds of
  fun playing games, and talk about a variety of topics. Our moderator team,
  with Naomi, work with the community to set goals and provide projects that
  everyone can contribute to, in order to help build a sense of togetherness.
</p>
<h2>Gaming</h2>
<p>
  A love for gaming is something a lot of people share, and we'd love to share
  it with you! Join us for activities like Among Us, Gartic Phone, Discord
  Activities, and more!.
</p>
<p>
  We are ramping up our event schedule to generate fun and engaging things for
  everyone to enjoy.
</p>
<h2>Discussions</h2>
<p>
  We love to have conversations about a variety of topics. Most of our
  discussion takes place in our Discord server, where we talk about things like
  philosophy, share our daily Wordle scores, and more!
</p>
<p>
  If you're looking for a fun and inclusive place to chill out and vibe, you've
  found it!
</p>
